<div class="row mt-5 justify-content-end">
    <div class="col-6 col-md-4">
        <form name="frm">
            <div class="input-group">
                <input type="text" class="form-control" id="query" value="자바의정석">
                <button class = "btn btn-primary"> 검색 </button>
            </div>
        </form>
    </div>
</div>
<div class="row" id="list_book"> </div>

<!-- 도서 목록 템플릿-->
<script id="temp_book" type = "text/x-handlebars-template">
    {{#each documnets}}
    <div class="col-6 col-md-4 col-lg-2">
    <div class="card my-2">
        <div class="card-body">
            <img src="{{thumbnail}}" width = 90%>
          <div>{{title}}</div>
        </div>
        <div class="card-footer">
            {{price}}
        </div>
    {{/each}}
</div>
</script>


<script>
    let query=$("#query").val();
    let page=1;
    getList();



    //도서 데이터 가져오기
    function getList(){
        // alert(`page=${page}, query=${query}`)
        $.ajax({
            type : "get",
            url: "https://dapi.kakao.com/v3/search/book?target=title",
            data: {"page": page, "query":query, size:6},
            dataType: "json",
            headers: {Authorization:"KakaoAK 4dc52ede9437e2cff0a338f1bd13b1c5"},
            success: function(data){
            console.log(data);
            let temp = Handlebars.compile($("#temp_book").html());
            $("#list_book").html(temp(data));
        }
        })
    }
    //submit될 경우 
    $(frm).on("submit", function(e){
    e.preventDefault();
    query=$("#query").val();
    page = 1; 
    // 검색 클릭 시 1페이지부터 요청 초기화
    getList();
})

</script>